<h3>Выберите файл для загрузки</h3>
<form asp-action="Upload" asp-controller="Audio" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" /><br>
    <input type="submit" value="Загрузить" />
</form>

